{# src/CitrespBundle/Resources/views/Back/adminCity.html.twig #}

{% extends '@Citresp/Back/adminTemplate.html.twig' %}

{% block body %}
  <div class="container container-admin bg-light-admin">
    <div class="row">
      {% for reporting in reportingsList %}
        <div class="col-lg-4 col-md-6">
          <div class="admin-reporting-block">
            {% embed "@Citresp/Back/adminReoprtingContentBlock.html.twig" %}{% endembed %}
          </div>
        </div>
      {% endfor %}

    </div>
    {% embed "@Citresp/pagination.html.twig" %}{% endembed %}
  </div>
{% endblock %}


{% block javascripts %}
  {{ parent() }}
  {% embed "@Citresp/googleMap-viewCity.html.twig" %}{% endembed %}
{% endblock %}
