{# src/CitrespBundle/Resources/views/Back/adminInfosBolck.html.twig #}

<div class="admin-content-block admin-reporting-block admin-infos-block flex-col">
  <p class="text-min-size">
    <span class="badge badge-danger">{{reportedReportingsNb}}</span>
      <strong>Publication(s) signalée(s)</strong>
  </p>
  <p class="text-min-size">
    <span class="badge badge-danger">{{reportedCommentsNb}}</span>
      <strong>Commentaire(s) signalé(s)</strong>
  </p>
</div>
