{# src/CitrespBundle/Resources/views/Back/admin.html.twig #}

{% extends '@Citresp/Back/adminTemplate.html.twig' %}


{% block body %}
  <div class="container-admin text-center bg-light-admin">
    <h1>Admin-Ville</h1>
  </div>
{% endblock %}
