{# app/Resources/TwigBundle/views/Exception/error404.html.twig #}

{% extends '@Citresp/layout.html.twig' %}

{% block body %}
<div class="container container-error">
    <h2>
      Une erreur {{ status_code }} est survenue ({{ status_text }})
    </h2>
    <h4>
      La page demandée n'existe pas, ou plus.
    </h4>

    <p>
      <br>
      <a href="{{ path('homepage') }}" class="btn btn-info">
        Revenir à l'accueil
      </a>
    </p>
</div>
{% endblock %}