{# app/Resources/FOSUserBundle/views/Registration/confirmed.html.twig #}

{% extends "@Citresp/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
  <div class="contaner-sign-in text-center container-confirmation-registration">
    <h4>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</h4>

      <p>
        <a href="{{ path('city',{'slug': user.city.slug, 'page' : 1}) }}">Aller à la page de {{ user.city.name }}</a>
      </p>

  </div>
{% endblock fos_user_content %}
