{# src/CitrespBundle/Resources/views/Front/homepage.html.twig #}

{% extends '@Citresp/layout.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('theme/css/sign-in.css') }}">
{% endblock %}

{% block body %}
  <div class="container">

    {% for msg in app.session.flashBag.get('errorSelectedBaseCities') %}
      <div class="flashBag">
        <p class="alert alert-danger" role="alert">{{ msg }}</p>
      </div>
    {% endfor %}

    <div class="contaner-sign-in text-center">
      {% embed "@Citresp/FormViews/citySelectForm.html.twig" %}{% endembed %}
    </div>
  </div>

  <div class="container container-pading-t-b bg-primary text-center home-create">
    <h3>Créez un compte pour votre ville</h3>
    <p>Si aucun compte n'existe pour votre ville, vous pouvez en créer un.
      <br/>
      <strong>Vous serez alors l'administrateur principal de ce compte.</strong>
    </p>

    <div class="contaner-sign-in text-center">
      {% embed "@Citresp/FormViews/baseCitiesSearchForm.html.twig" %}{% endembed %}
    </div>

  </div>

{% endblock %}
