{# src/CitrespBundle/Resources/views/Front/mentionsLegales.html.twig #}

{% extends '@Citresp/layout.html.twig' %}

{% block body %}
  <main class="container bg-light">
    <section class="container container-mentions-legales">
      <h3>Mentions légales</h3>
      <p>Date de dernière mise à jour 09/07/2019</p>

      <hr>

      <p>
        <strong>CITRESP</strong>
        Adresse: rue kleber 18000 Bourges ; Adresse du courrier électronique f.perreau@orange.fr; Le responsable de la publication personne physique est François Perreau;
      </p>

      <hr>

      <p>
        <strong>Données personnelles</strong>
        <br>
        <b>CITRESP</b>
        se réserve le droit de collecter les informations nominatives et les données personnelles vous concernant. Elles sont nécessaires à la gestion ainsi qu'à l'amélioration des services et des informations que nous vous adressons. Ces informations et
        données sont également conservées à des fins de sécurité, afin de respecter les obligations légales et réglementaires. Conformément à la loi du 6 janvier 1978, vous disposez d'un droit d'accès, de rectification et d'opposition aux informations
        nominatives et aux données personnelles vous concernant, directement sur le site Internet.
      </p>

      <br>
      <p class="text-muted text-min-size">
        Les présentes CGV ont été générées gratuitement par la société de communication
        <a href="http://kinic.fr" target="_blank">Kinic</a>
      </p>
    </div>
  </main>

{% endblock %}
