:root {
  --primary-color: #c17450;
  --secondary-color: green;
  --light: #F2F3F5;
  --dark: #343a40;
  --admin: #0066B2;
}

html,
body,
main {
  min-height: 100% !important;
}

body {
  background-color: #eeeeee;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 16px;
}

main,
header {
  max-width: 42rem;
  background-color: #fff;
}

header {
  padding: 0 !important;
}

main {
  padding-top: 2rem;
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 0;
}

section {
  padding: 60px 0;
}

footer {
  padding-top: 5px;
  padding-bottom: 5px;
  color: var(--gray);
}

footer>.container>p {
  margin: 0;
  line-height: 1.75em;
}

footer>.container>p>a {
  color: var(--light);
  text-decoration: underline;
}

.max-width-1 {
  max-width: 600px;
  margin:auto;
}

.max-width-2 {
  max-width: 300px;
  margin:auto;
}

.arianne>p {
  padding-top: 30px;
  margin-bottom: 0;
}

.text-min-size {
  font-size: 0.875rem;
}

.bg-light {
  background-color: var(--light) !important;
}

.bg-primary {
  background-color: var(--primary-color) !important;
}

.bg-dark {
  background-color: var(--dark) !important;
}

.flashBag {
  margin: auto;
  text-align: center;
}



/* *************************** */
/*  NAVBAR  */
/* *************************** */
.citresp-logo {
  max-width: 130px;;
}

.nav-principal .navbar-brand {
  margin-right: 2rem;
}

.nav-principal .navbar-nav {
  width: 100%;
  justify-content: space-between;
}

.nav-principal .nav-item:first-child {
  flex: 2;
  color: red;
}

.nav-principal .dropdown {
  text-align: right;
}

@media screen and (max-width: 768px) {
  .nav-principal .dropdown {
    text-align: left !important;
  }
}

.nav-principal .dropdown-menu {
  right: 0 !important;
  left: auto !important;
}

.nav-city {
  background-color: var(--dark);
  color: #fff;
}

.nav-admin {
  background-color: var(--admin);
  color: #fff;
}

.dropdown-menu>hr {
  margin: .5rem 0;
}

.dropdown-item:focus, .dropdown-item:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: var(--primary-color);
}

.header-block {
  min-height: 21.875rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2rem;
  text-align: center;
  color: #fff;
}

.header-block h1 {
  padding-bottom: 1rem;
  font-size: 2.5rem;
  color: inherit;
}

.header-block p {
  font-size: 1.125rem;
  line-height: 1.5em;
  color: inherit;
}

/* *************************** */
/* FORM  */
/* *************************** */
.invalid-feedback {
  margin: 3px 0;
  text-align: left !important;
}


/* *************************** */
/* PAGINATION  */
/* *************************** */
.pagination-block {
  margin-top: 60px;
}

.page-link {
  color: var(--info);
}

.page-item.active .page-link {
  background-color: var(--info);
  border-color: var(--info);
}

.pagination a {
  transition: background-color .3s;
}



/* *************************** */
/* HOME  */
/* *************************** */
.container-intro {
  padding-top: 30px;
}

.container-pading-t-b {
  padding-top: 80px;
  padding-bottom: 80px;
}

.home-create {
  color: #fff;
}

.home-search>.d-block {
  padding: 5px;
  background-color: #dc3545 !important;
  border-radius: .25rem;
}

.home-search>.invalid-feedback {
  color: #fff !important;
}

.text-label-left {
  display: flex;
  text-align: left!important;
}


/* *************************** */
/* CITY  */
/* *************************** */

.title-city {
  padding: 5px 15px;
  background-color: var(--dark);
}

.title-city h1 {
  color: #fff;
}

.reporting-btn {
  margin-top: -32px;
  padding: 35px 0px;
}


.reporting-block,
.showReporting-block,
.commentsReporting-block,
.profile-block {
  max-width: 600px;
  margin: auto;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  padding: 15px;
  background-color: #fff;
  box-shadow: 2px 2px 12px #ddd;
  text-align: left;
}

.reporting-block {
  display: flex;
}

.img-reporting-city {
  overflow: hidden;
  display: flex;
  width: 75px;
  height: 75px;
  margin-right: 15px;
  background-color: #eee;
  border-radius: 100%;
}

.img-reporting-city>img {
  object-fit: cover;
  min-height: 75px;
	width: 100%;
}


.infos-reporting-city>p {
  line-height: 1rem;
  margin-bottom: 0.5rem;
}

.infos-reporting-city {
  flex:2;
}

.author-reporting-city {
  font-size: 0.875rem;
}

/* *************************** */
/* SHOW REPORTING */
/* *************************** */
.container-showReporting {
  margin-top: -32px;
}

.img-showReporting-city {
  display: flex;
  width: 100%;
  height: 200px;
  margin-right: 15px;
  margin-bottom: 15px;
  background-color: #eee;
}

.img-showReporting-city img {
  object-fit: cover;
  max-height: 200px;
	width: 100%;
}

.reporting-status {
  display: flex;
  align-items: center;
}

.reporting-status>p,
.admin-reporting-block-title>p {
  margin: 0;
  font-size: 0.875rem;
}

.reporting-status-label {
  margin-right: 3px;
  width: 15px;
  height: 15px;
  border-radius: 100%;
}

.block-reporting-status {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.reporting-btn-block {
  display: flex;
  justify-content: flex-end;
}
.block-reporting-status form {
  margin-bottom: 0;
}

.btn-report-publication {
  padding: 0.12rem 0.25rem;
  font-size: 0.75rem;
}

.form-comment-block {
  margin-bottom: 30px;
}

.comment-block {
  margin-bottom: 30px;
  padding: 15px;
  border: 1px solid #ddd;
  background-color: var(--light);
  box-shadow: 2px 2px 12px #ddd;
}

.comment-block:last-child {
  margin-bottom: 0;
}

.comment-block>p {
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.25em;
}

.comment-btn-block {
  display: flex;
  justify-content: space-between;
}


/* *************************** */
/* ADMIN */
/* *************************** */
.title-admin {
  padding: 5px 15px;
  background-color: var(--admin) !important;
}

.title-admin>h1 {
  color: #fff;
  text-transform: uppercase;
  margin: 0;
}

.container-admin {
  padding-bottom: 60px;
}

.admin-infos-block>p {
  margin: 0;
  line-height: 1.5em;
}

.admin-infos-block>p:first-child {
  margin-bottom: 0.875rem;
}

.admin-reporting-block-title {
  z-index: 100;
  padding: 5px;
  background-color: var(--dark);
  color: #fff;
}

.admin-reporting-block {
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  background-color: #fff;
  box-shadow: 2px 2px 12px #ddd;
}

.admin-content-block {
  display: flex;
  padding: 15px;
}

.admin-description-block,
.admin-comment-adress-block {
  border-top: 1px solid #ddd;
}

.admin-description-block {
  padding: 15px;
}

.admin-description-block>p {
  margin: 0;
}

.reporting-status-admin {
  /* justify-content: space-between; */
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
}

.reporting-status-admin>a {
  margin-left: auto;
  padding: 1px 8px;
}

.flex-col {
  flex-direction: column;
}


.reporting-status-admin {
  margin-bottom: .5em;
}

/* Comment */
.admin-comment-content {
  margin: 0;
}

.admin-comment-adress-block {
  padding: 5px 15px;
}



/* *************************** */
/* PAGES PROFILE */
/* *************************** */
.container-profile {
  padding-bottom: 32px;
}

.profile-block {
  max-width: 400px!important;
}

.profile-block>p,
.profile-btn-block>p {
  margin: 0;
  font-size: 0.875rem;
}

.profile-btn-block {
  display: flex;
  justify-content: space-between;
}

.checkbox {
  margin-top: 15px;
}

.link_to_change {
  margin-top: 15px;
}




/* *************************** */
/* AUTRES PAGES */
/* *************************** */
.container-confirmation-registration {
  padding: 5rem 0;
}

.container-mentions-legales {
  padding: 0 2rem 3rem 2rem ;
}


.container-error {
  padding-top: 30px;
  padding-bottom: 60px;

  text-align: center;
}

.check_email {
  margin: auto;
}