:root {
  --primary-color: #c17450;
  --secondary-color: green;
  --light: #F2F3F5;
}

html,
body,
main {
  min-height: 100% !important;
}

body {
  background-color: #eeeeee;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 16px;
}

main,
header {
  max-width: 42rem;
  background-color: #fff;
}

header {
  padding: 0 !important;
}

main {
  padding-top: 2rem;
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 0;
}

section {
  padding: 60px 0;
}

h1 {
  /* color: var(--secondary-color); */
}

.max-width-1 {
  max-width: 600px;
  margin:auto;
}

.max-width-2 {
  max-width: 300px;
  margin:auto;
}

.arianne>p {
  padding-top: 30px;
  margin-bottom: 0;
  /* font-size: 0.875rem; */
}

.text-min-size {
  font-size: 0.875rem;
}

.bg-light {
  background-color: var(--light) !important;
}

.bg-primary {
  background-color: var(--primary-color) !important;
}

.flashBag {
  /* max-width:600px; */
  margin: auto;
  text-align: center;
}

/* *************************** */
/*  NAVBAR  */
/* *************************** */
.navbar-brand {
  margin-right: 2rem;
}

.navbar-nav {
  width: 100%;
  justify-content: space-between;
}

.nav-item:first-child {
  flex: 2;
  color: red;
}

.dropdown {
  /* flex: 2; */
  text-align: right;
}

@media screen and (max-width: 768px) {
  .dropdown {
    text-align: left !important;
  }
}

.dropdown-menu {
  right: 0 !important;
  left: auto !important;
}

.header-block {
  min-height: 21.875rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2rem;
  /* background-color: var(--primary-color); */
  text-align: center;
  color: #fff;
}

.header-block h1 {
  padding-bottom: 1rem;
  font-size: 2.5rem;
  color: inherit;
}

.header-block p {
  font-size: 1.125rem;
  line-height: 1.5em;
  color: inherit;
}

/* *************************** */
/* FORM  */
/* *************************** */
.invalid-feedback {
  margin: 3px 0;
  text-align: left !important;
}

/* *************************** */
/* HOME  */
/* *************************** */
.container-pading-t-b {
  padding-top: 80px;
  padding-bottom: 80px;
}

.home-create {
  color: #fff;
}

.home-search>.d-block {
  padding: 5px;
  background-color: #dc3545 !important;
  border-radius: .25rem;
}

.home-search>.invalid-feedback {
  color: #fff !important;
}

.text-label-left {
  display: flex;
  text-align: left!important;
}


/* *************************** */
/* CITY  */
/* *************************** */
.container-map {
  /* margin-top: 32px; */
}

.title-city {
  padding: 5px 15px;
  background-color: #343a40;
}

.title-city h1 {
  color: #fff;
}

.reporting-btn {
  margin-top: -32px;
  padding: 35px 0px;
}

.reportings-container {
  /* margin-top: 70px; */
}

.reporting-block,
.showReporting-block,
.commentsReporting-block {
  max-width: 600px;
  margin: auto;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  padding: 15px;
  background-color: #fff;
  box-shadow: 2px 2px 12px #ddd;
  text-align: left;
}

.reporting-block {
  display: flex;
}

.img-reporting-city {
  overflow: hidden;
  display: flex;
  width: 75px;
  height: 75px;
  margin-right: 15px;
  background-color: #eee;
  border-radius: 100%;
}

.img-reporting-city>img {
  object-fit: cover;
  min-height: 75px;
	width: 100%;
  /* border-radius: 100%; */
}

.infos-reporting-city>p {
  line-height: 1rem;
  margin-bottom: 0.5rem;
}

.author-reporting-city {
  font-size: 0.875rem;
}

/* *************************** */
/* SHOW REPORTING */
/* *************************** */
.container-showReporting {
  margin-top: -32px;
  /* padding-top: 70px; */
}

.img-showReporting-city {
  /* overflow: hidden; */
  display: flex;
  width: 100%;
  height: 200px;
  margin-right: 15px;
  margin-bottom: 15px;
  background-color: #eee;
}

.img-showReporting-city img {
  /* margin: auto; */
  object-fit: cover;
  max-height: 200px;
	width: 100%;
  /* border-radius: 100%; */
}

.reporting-status {
  display: flex;
  align-items: center;
}

.reporting-status>p {
  margin: 0;
  font-size: 0.875rem;
}

.reporting-status-label {
  /* display: inline-block; */
  margin-right: 3px;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: var(--secondary-color);
}

.block-reporting-status {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.reporting-btn-block {
  display: flex;
  justify-content: flex-end;
}

.btn-report-publication {
  padding: 0.12rem 0.25rem;
  font-size: 0.75rem;
}

.form-comment-block {
  margin-bottom: 30px;
}

.comment-block {
  margin-bottom: 30px;
  padding: 15px;
  border: 1px solid #ddd;
  background-color: var(--light);
  box-shadow: 2px 2px 12px #ddd;
}

.comment-block:last-child {
  margin-bottom: 0;
}

.comment-block>p {
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.25em;
}

.comment-btn-block {
  display: flex;
  justify-content: space-between;
}
