:root {
  --primary-color: #db35ea;
  --secondary-color: green;
  --light : #e2abff
}

html,
body,
main {
  min-height: 100%!important;
}

body {
  background-color: #eeeeee;
  background-repeat:no-repeat;
  background-size: cover;

  font-size: 16px;

}

main,
header {
  max-width: 42rem;
  background-color: #fff;
}

header {
  padding: 0!important;
}

main {
  padding: 2rem 0!important;
}

.flashBag {
  /* max-width:600px; */
  margin: auto;
  text-align: center;
}

/* ========== NAVBAR =========== */
.navbar-brand {
  margin-right: 2rem;
}

.navbar-nav {
  width: 100%;
  justify-content:space-between;
}

.nav-item {

}

.nav-item:first-child {
  flex: 2;
  color: red;
}
.dropdown {
/* flex: 2; */
text-align: right;
}

@media screen and (max-width: 768px) {
   .dropdown {
    text-align: left!important;
  }
}

.dropdown-menu {
  right: 0!important;
  left: auto!important;
}




h1 {
  color: var(--secondary-color);
}


.header-block {
  min-height: 21.875rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2rem;
  background-color: var(--primary-color);
  text-align: center;
  color: #fff;
}

.header-block h1 {
  padding-bottom: 1rem;
  font-size: 2.5rem;
  color: inherit;
}

.header-block p {
  font-size: 1.125rem;
  line-height: 1.5em;
  color: inherit;
}


/* FORM ***************** */
.invalid-feedback {
  margin: 3px 0;
  text-align: left!important;
}



/* HOME ***************** */
.bg-light {
  background-color: var(--light)!important;
}

.container-pading-t-b {
  padding-top: 80px;
  padding-bottom: 80px;
}



/* CITY ***************** */
.title-city {
  margin-top: -32px;
  margin-bottom: 32px;
  padding: 5px 15px;
  background-color: #343a40;
}

.title-city>h1 {
  color: #fff;
}
