{# src/CitrespBundle/Resources/views/cityMapHeader.html.twig #}
<div class="container-map">
  <div id="map"></div>
</div>

<div class="title-city text-center">
  <h1 class="h4">{{ city.name }}
    ({{ city.zipcode }})</h1>
</div>
