{# app/Resources/FOSUserBundle/views/Resetting/check_email.html.twig #}

{% extends "@Citresp/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('theme/css/sign-in.css') }}">
{% endblock %}

{% block fos_user_content %}
  <div class="contaner-sign-in text-center">
    <p class="check_email">
      {{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}
    </p>
  </div>
{% endblock %}
