{# CitrespBundle/Resources/views/Emails/notificationNewComment.html.twig #}

{% extends "@Citresp/Emails/notifivationTemplate.html.twig" %}

{% block content %}
    <p>Votre signalement <strong>({{ reporting.address }})</strong> a été commenté.</p>
{% endblock %}

