{# CitrespBundle/Resources/views/Emails/notificationNewModerateComment.html.twig #}

{% extends "@Citresp/Emails/notifivationTemplate.html.twig" %}

{% block content %}
    <p>Votre Commentaire sur le signalement <strong>({{ reporting.address }})</strong> a été modérer.</p>
{% endblock %}


