{# CitrespBundle/Resources/views/Emails/notificationNewPublishedReporting.html.twig #}

{% extends "@Citresp/Emails/notifivationTemplate.html.twig" %}

{% block content %}
    <p>Votre signalement <strong>({{ reporting.address }})</strong> a été republié.</p>
{% endblock %}


